.aamir-1{height: 150px;border: 2px solid white;display: inline-block;float: left;}
.aamir-2{height: 300px;border: 2px solid white;display: inline-block;float: left;}
.aamir-3{height: 450px;border: 2px solid white;display: inline-block;float: left;}
.aamir {display: inline-block; float: left}
.bg-cream {background-color:#FFEDB0;}
.bg-red {background-color:#FD706D;}
.bg-yellow {background-color:#FECB65;}
.bg-blue {background-color:#8AD7B1;}
